body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid red;
}

header {
    border: 8px solid black;
}

main {
    border: 1px solid green
}

footer {
    border: 1px solid orange;
}


.header-container {
    display: flex;
    background-image: url("assets/pink_cloud_background.jpg");
    height: 300px;
    justify-content: space-between;
    align-items: left;
    font-size: 10px;

}

.hamburger-menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.logo_container {
    margin-left: 25px;
}

.subtitle {
    margin-left: 100px;
}


.nav-container {
    display: flex;
    gap: 26px;
}

.main-container {
    display: flex;
    width: 100%;
    background-color: violet;
}

.mainimage-container {
    background: url(assets/background-flowers.jpg);
    background-size: cover;
    width: 70%;
}

.sidebar-container {
    background-color: #06e0e9;
    justify-self: right;
    width: 30%;
    padding-left: 24px;
    font-family: 'Poppins', sans-serif;

}

.sidebar-title {
    text-transform: uppercase;
    font-size: 12px;
}

.sidebar-subtitle {
    font-size: 38px;
    font-weight: bold;
}